@page "/fetchdata"

<h1>USB Connection Service</h1>

<p>This table shows all connected USB devices.</p>

<button class="btn btn-primary" @onclick="Refresh">Refresh</button>

@if (_usbConnectionData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Summary</th>
				<th>Select</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var data in _usbConnectionData)
			{
				<tr>
					<td>@data.Summary (@data.Id)</td>
					<td><button class="btn btn-primary" @onclick="@(async () => await Connect(data))">Select</button></td>
				</tr>
			}
		</tbody>
	</table>

	@if(_deviceStream != null)
	{
	<button class="btn btn-primary" @onclick="@(async () => await RequestStatus())">Request Status</button>
	}

	@if(!string.IsNullOrEmpty(_errorMessage))
	{
		<p>ERROR: @_errorMessage</p>
	}

	@if(!string.IsNullOrEmpty(_statusMessage))
	{
		<p>Status: @_statusMessage</p>
	}

	<pre>@_streamData</pre>
}